body{
    background-color: #FEFFEA;
}

h2 {
     font-family: Helvetica, sans-serif;

 }

 p {
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 #inicio{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #nacionality{
     color:#e0d01d;
 }

 #city{
     color:blue;
 }

 .font_upgrade{
     font-size: 18px;
 }

 .font_downgrade{
     font-size: 14   px;
 }

 #description {
    position: absolute;
    top: 70px;
    text-align: left; /* top,right,bottom,left */
    padding: 3% 2% 3% 2%;
    left: 210px;
    top: 120px;
     
 }

 #my-name {
     text-align: center;
 }

 #minha_foto {
    background-color: green;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin-right: 1115px;
    

 }

ul.odd li:nth-child(2n+1) {
    color: #D76D6D;
}